{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
         <div class="image-cta" style="background-image: url({{file_url(content.field_background_image['#items'].entity.uri.value) }}); background-size: cover; background-position: center">
   <div class="image-cta-title">{{ content.field_body }}</div>
 	          <div class="image-cta-button"><a href="{{ content.field_button_link[0]['#url'] }}" class="btn btn-primary">{{ content.field_button_link[0]['#title'] }}</a></div>
 	       </div>
    {% endblock %}
  </div>
{% endblock paragraph %}

