{% extends "block.html.twig" %}
{% block content %}
  {% if site_logo %}
    <a class="branding-logo" href="https://piedmontu.edu" title="{{ site_slogan }} Home" rel="external">
      <img src="{{ site_logo }}" alt="{{ site_slogan }} Home" />
    </a>
  {% endif %}
  {% if site_name %}
    <a class="branding-name" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {% if site_slogan %}
  	<a class="branding-slogan" href="https://piedmontu.edu" title="{{ site_slogan }} Home" rel="external">{{ site_slogan }}</a>
  {% endif %}
{% endblock %}
