<div{{ attributes }}>
  <div class="jumbotron jumbotron-fluid" {% if content.field_bacgr['#items'].entity.uri.value %} style="background-image: url({{ file_url(content.field_bacgr['#items'].entity.uri.value) }}); background-size: cover; background-position: top"{% endif %} >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ title_prefix }}
          {% if label %}
            <h1 {{ title_attributes.addClass('display-4') }}>{{ label }}</h1>
          {% endif %}
          {{ title_suffix }}
          {% if content.body is not empty %}
            <div class="hero-title">{{ content.body }}</div>
          {% endif %}
          {% if content.field_button[0]['#url'] %}
            <div><a href="{{ content.field_button[0]['#url'] }}" class="btn btn-primary">{{ content.field_button[0]['#title'] }}</a></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>