<div class="container">
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% if top.content %}
  <{{ top.wrapper }}{{ top.attributes }}>
    {{ top.content }}
  </{{ top.wrapper }}>
  {% endif %}

  {% if top_left.content %}
  <{{ top_left.wrapper }}{{ top_left.attributes }}>
    {{ top_left.content }}
  </{{ top_left.wrapper }}>
  {% endif %}

  {% if top_right.content %}
  <{{ top_right.wrapper }}{{ top_right.attributes.addClass('top-right-program') }}>
    {{ top_right.content }}
  </{{ top_right.wrapper }}>
  {% endif %}

  {% if middle.content %}
  <{{ middle.wrapper }}{{ middle.attributes }}>
    {{ middle.content }}
  </{{ middle.wrapper }}>
  {% endif %}

  {% if bottom_left.content %}
  <{{ bottom_left.wrapper }}{{ bottom_left.attributes }}>
    {{ bottom_left.content }}
  </{{ bottom_left.wrapper }}>
  {% endif %}

  {% if bottom_right.content %}
  <{{ bottom_right.wrapper }}{{ bottom_right.attributes }}>
    {{ bottom_right.content }}
  </{{ bottom_right.wrapper }}>
  {% endif %}

  {% if bottom.content %}
  <{{ bottom.wrapper }}{{ bottom.attributes }}>
    {{ bottom.content }}
  </{{ bottom.wrapper }}>
  {% endif %}

</{{ wrapper }}>
</div>