{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
<div class="secondary_navigation">
	<div class="container">
		<div class="row">
			<div class="col">
			{# Secondary Navigation #}
			{% if page.secondary_navigation %}
			{% block secondary_navigation %}
				{{ page.secondary_navigation }}
			{% endblock %}
			{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="navbar-default" id="navbar">
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
      <div class="navbar-header">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse">
        	{{ page.navigation_collapsible }}
        </div>
      		{% endif %}
    		{% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}
      </div>
    </header>
  {% endblock %}
{% endif %}
{# Main #}
{% block main %}
  <div role="main" class="main-container container js-quickedit-main-content">
        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
  </div>
{% endblock %}
<footer role="contentinfo">
	<div class="footer">
	<div class="container">
		<div class="row">
		<div class="col-sm-2">
			{% if page.footer_logo %}
			  {% block footer_logo %}
			      {{ page.footer_logo }}
			  {% endblock %}
			{% endif %}
		</div>
		<div class="col-sm-4">
			{% if page.footer_left %}
			  {% block footer_left %}
			      {{ page.footer_left }}
			  {% endblock %}
			{% endif %}
		</div>
		<div class="col-sm">
			{% if page.footer_center %}
			  {% block footer_center %}
			      {{ page.footer_center }}
			  {% endblock %}
			{% endif %}
		</div>

		<div class="col-sm">
			{% if page.footer_right %}
			  {% block footer_right %}
			      {{ page.footer_right }}
			  {% endblock %}
			{% endif %}
		</div>
		</div>
	</div>
	</div>
{% if page.footer_bottom %}
	{% block footer_bottom %}
		<section class="footer-bottom">
			<div class="container">
				<div class="row">
				<div class="col-sm">
					{{ page.footer_bottom }}
				</div>
				</div>
			</div>
		</section>
	{% endblock %}
{% endif %}
</footer>