{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'social-media-network',
    'clearfix',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% if content.field_network %}
      <a href="{{ content.field_account_url[0]['#url'] }}" target="blank"><i class="{{ content.field_network[0] }}-icon"></i></a>
    {% endif %}
  {% endblock %}
</section>
