<div class="container">
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>
    {{ main.content }}
  </{{ main.wrapper }}>
</{{ wrapper }}>
</div>