<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
<div class="col-sm-8 col-md-10">
  {% if left.content %}
  <{{ left.wrapper }}>
    {{ left.content }}
  </{{ left.wrapper }}>
  {% endif %}
</div>
<div class="col-sm col-md">
  {% if right.content %}
  <{{ right.wrapper }}>
    {{ right.content }}
  </{{ right.wrapper }}>
  {% endif %}
</div>
</{{ wrapper }}>